In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('\Train.csv')

In [3]:
df

      feature_1  feature_2  feature_3  feature_4  feature_5      target
0      0.293416  -0.945599  -0.421105   0.406816   0.525662  -82.154667
1     -0.836084  -0.189228  -0.776403  -1.053831   0.597997  -48.897960
2      0.236425   0.132836  -0.147723   0.699854  -0.187364   77.270371
3      0.175312   0.143194  -0.581111  -0.122107  -1.292168   -2.988581
4     -1.693011   0.542712  -2.798729  -0.686723   1.244077  -37.596722
...         ...        ...        ...        ...        ...         ...
1595  -0.274961  -0.820634  -0.757173  -0.147555  -0.307149  -80.110012
1596  -0.076099   0.255257   0.290054   1.796036   0.340350  118.315601
1597   1.044177  -0.899206   1.730399  -1.871057   0.442520 -107.510508
1598  -1.269173  -0.005052   1.857669  -1.080365   0.736334  -47.341558
1599  -1.884000  -0.849427  -1.452270   0.488613   1.459576 -115.939003

[1600 rows x 6 columns]

In [4]:
df.shape

(1600, 6)

In [5]:
X=df[['feature_1','feature_2','feature_3','feature_4','feature_5']]
y=df['target']

In [6]:
X

      feature_1  feature_2  feature_3  feature_4  feature_5
0      0.293416  -0.945599  -0.421105   0.406816   0.525662
1     -0.836084  -0.189228  -0.776403  -1.053831   0.597997
2      0.236425   0.132836  -0.147723   0.699854  -0.187364
3      0.175312   0.143194  -0.581111  -0.122107  -1.292168
4     -1.693011   0.542712  -2.798729  -0.686723   1.244077
...         ...        ...        ...        ...        ...
1595  -0.274961  -0.820634  -0.757173  -0.147555  -0.307149
1596  -0.076099   0.255257   0.290054   1.796036   0.340350
1597   1.044177  -0.899206   1.730399  -1.871057   0.442520
1598  -1.269173  -0.005052   1.857669  -1.080365   0.736334
1599  -1.884000  -0.849427  -1.452270   0.488613   1.459576

[1600 rows x 5 columns]

In [7]:
y

0       -82.154667
1       -48.897960
2        77.270371
3        -2.988581
4       -37.596722
           ...
1595    -80.110012
1596    118.315601
1597   -107.510508
1598    -47.341558
1599   -115.939003
Name: target, Length: 1600, dtype: float64

In [8]:
X.shape,y.shape

((1600, 5), (1600,))

In [9]:
u=np.mean(X,axis=0)
std=np.std(X,axis=0)

print(u.shape,std.shape)

(5,) (5,)

In [10]:
X=(X-u)/std

In [11]:
X.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   0.290165  -0.898712  -0.372381   0.441771   0.525024
1  -0.842705  -0.158229  -0.723656  -0.994642   0.598960
2   0.233004   0.157070  -0.102094   0.729947  -0.203782
3   0.171708   0.167210  -0.530576  -0.078377  -1.333037
4  -1.702188   0.558336  -2.723087  -0.633625   1.259339

In [12]:
ones  = np.ones((X.shape[0],1))
X=np.hstack((ones,X))
print(X.shape)

(1600, 6)

In [13]:
def hypothesis(X,theta):
  
    return np.dot(X,theta)

def error(X,y,theta):
    e=0.0
    m=X.shape[0]
    y_=hypothesis(X,theta)
    error=np.sum((y-y_)**2)
    return e/m

def gradient(X,y,theta):
    m =X.shape[0]
    y_=hypothesis(X,theta)
    grad=np.dot(X.T,(y_-y))
    
    return grad/m

def gradient_descent(X,y,learning_rate=0.1,max_epochs=300):
    n=X.shape[1]
    theta=np.zeros((n,))
    error_list=[]
    for i in range(max_epochs):
        e=error(X,y,theta)
        error_list.append(e)
        
        grad=gradient(X,y,theta)
        theta=theta-learning_rate*grad
    return theta,error_list

In [14]:
import time
start = time.time()
theta,error_list=gradient_descent(X,y)
end=time.time()
print("taken time",end-start)

taken time 0.31600141525268555

In [15]:
y_=hypothesis(X,theta)

In [16]:
y_

array([ -57.87196311,  -89.46019557,   53.95305942, ..., -115.65802541,
        -64.27649688, -116.11442895])

In [17]:
def r2_score(Y,Y_):
    
    num=np.sum((Y-Y_)**2)
    denom=np.sum((Y-Y.mean())**2)
    score=(1-num/denom)
    return score*100

In [18]:
r2_score(y,y_)

96.60939669975616

In [19]:
x_test=pd.read_csv('K:\Coding Blocks\Machine learning\Test.csv').values

ones  = np.ones((x_test.shape[0],1))
x_test=np.hstack((ones,x_test))
print(X.shape)


y_test=hypothesis(x_test,theta)
y_test.shape

(1600, 6)

(400,)

In [20]:
y_test

array([ 112.15168366,  115.87976761,  -25.87626158,  -47.63583973,
       -102.51798162,  -50.2893194 ,  -81.3683598 ,   20.93713793,
        172.90067195,  170.88408456, -111.39443612,  -25.59613481,
         -8.87208051,  120.36150946,   35.09400747,   41.78966378,
       -199.41769455,   17.73984091,    8.5360946 ,  133.07321033,
         61.45777124,  -68.39998714, -114.50737628,  -12.54690841,
        -64.1804854 ,    7.52041889,   23.7846786 ,  104.7686305 ,
         19.45718991,  -31.19280855,  107.80088039,  -51.11361967,
        215.83283486,  -20.0027722 , -238.03992037,  152.5478055 ,
         -8.26495851,    9.13276736, -318.7446708 ,   73.47903221,
        -88.08890616, -214.92225985, -248.10351287,  132.65718304,
        -80.84249   ,  101.17564239,   -9.18199391,   14.91509474,
       -104.82054763,  -33.08742048,    7.17980668, -184.25133971,
         60.85422477, -105.23084917, -112.70614897, -163.49566851,
         59.10706516,  105.97835498,  -79.92267914,   38.710591  ,
         36.83621295,  -56.62420213,  162.703482  ,   38.96675646,
         52.6561406 ,   19.57225082,   78.32374929,   -7.31912263,
         -8.26017257,   -3.63354354,  -27.98253297,  160.5279458 ,
        -46.04503893,   18.02062656,  -72.72582676,  -76.79331515,
         33.04325359, -168.91523922,   -6.57071923,  149.51790537,
        -43.38473797, -127.89444473, -201.57815963,   33.50786529,
        144.00916385,  272.11378266, -266.61250344,  -96.63833162,
         74.02375302,  -96.27816533,  -54.8034657 ,  122.40201068,
       -171.59692158, -123.18985207,   46.15078321,   94.98932651,
       -224.59165868, -128.4912001 , -181.70494793,  -57.31455514,
        125.59344771,  -90.09265853,   -7.66756211,   -5.59637474,
         -4.96975618,   77.53696759,   40.39715177,   89.16507317,
        -34.53639142,  -91.081247  ,   35.6323971 ,   14.57667931,
        114.17640661,    2.71048779,   70.49391798,   28.42772192,
       -149.4995681 ,    2.26756266,   17.45351609,  -27.37364942,
        -25.71091357, -265.55624988,  266.78834257,  154.22621362,
         10.44425765,   81.33979037,  -16.67932039, -160.62046283,
        109.85521189,  -37.24146937, -224.92865416,  118.16961536,
        -34.73198488,  -92.93721251,  168.7087751 ,   34.22446826,
        -23.47980108,   56.53896772,   41.3533119 , -183.10350069,
        127.78103533,  -79.09335248,  211.52759424,  133.94923912,
         -4.89707528, -160.78184245,  -19.80976579,  131.45012964,
         32.31241497,   53.59722625,   -9.1721281 ,  -48.91914232,
         14.10068816,  -74.56607455,   24.67289997,  140.07462853,
        347.92171021,  215.58081194,   23.44610853,  -43.93006767,
       -179.67910354,    8.01217696,  299.01052638,   71.85516185,
        -27.70431434,  154.15871032, -163.71483865,  140.09857285,
        169.02655056,  -52.80650408,   61.08276157,   94.90181449,
         91.95608767,   28.13777417,  172.13840263, -157.94670595,
        -99.83800765, -176.55064348,  -23.21511371, -113.30546147,
        -18.86282471,  -64.05913179,  -81.03134789,   63.17806303,
        -75.07650704,   86.35346857,  -62.47080028, -115.56305351,
        -83.09403988,  185.29399963,  -46.04484514,  218.36624148,
        -62.62569661,  -89.53216672,   44.113219  ,   -5.44138656,
         68.0043695 ,  -66.01198916,  208.7863954 , -146.47321244,
       -103.76614006, -122.45631302,   21.26790668,   50.95561936,
        148.07093005,   42.64128625,   89.97693232,  170.10449414,
       -280.4196274 , -181.78657784, -111.22638619,  -88.67611268,
         25.62884479,  -56.95863281,   74.11649208,  -25.27137116,
        -57.72035759,  -34.50168669,   61.55848128,   88.44959686,
        -89.97387748, -155.25990881,   44.07148158,  238.62238483,
        -54.47946827,   10.52853239,  -68.2463257 ,    7.82946964,
          5.87396448,   37.09955689,  114.68512207,   14.04298137,
       -113.43289347,   43.12492796,   96.99659947,  -96.08462945,
       -181.37079567,  166.98036517,  106.5921685 ,   57.46394164,
        -13.32268714,  -30.57671951,  -52.20457038, -178.55815199,
        -70.65331542,  -33.34226159, -179.10457637,  -32.25238695,
         30.19855304, -127.76585413,   13.31562298,   -6.2150022 ,
       -264.08331717, -262.83214315, -174.15244595,   41.83111378,
        128.97123642,   67.46930244,  118.47614806,   90.58827341,
         17.257382  , -317.57308679,  186.5890468 , -136.98071675,
        -48.84050629,  -92.27043946,  -94.3407067 ,  135.4331281 ,
        161.19703643,  -45.315538  , -149.47467419,  110.56082089,
        -23.63993866,   85.66394138,  103.30068886,   20.89444445,
        -56.24017362,  -32.60819532,   25.41995559,   72.43813114,
         23.84957474, -135.95997302,  -21.25160764,  -15.53239488,
       -133.6742604 ,  159.29477135,  -14.54685557, -139.61595887,
        205.30511446,   45.06237   ,   89.85197838,   27.28919815,
        205.696581  ,  -45.07891821,  -35.6591814 ,  -45.66802771,
         48.31728618,  -68.78988595,   91.76721894,  -90.32283775,
       -101.80603183,  -30.24053224,  -95.60840378,  -27.85603299,
         55.89719757,  -38.63903331,  -81.07285781, -187.23607387,
       -172.53719482,   37.40612866,   74.82873683,  301.53504841,
        125.67560767,  128.04900313,   47.80939908,  -26.60882396,
        180.95537165,  -63.92572817,  125.86493698,  150.99502871,
        -38.74330553, -209.59595471, -105.81803523,    0.60015107,
        -49.25646204,  -42.67394203,  157.15897793,  131.69854665,
         20.35921819,  -94.72572197,  185.91307008,  -71.81644701,
         61.14256021,   76.21887335,   96.73174432, -111.52363381,
        111.89481008,  -40.29775769,   85.39258193,  -89.42847721,
       -209.9044163 ,  157.44047083,  -99.30666275,   61.51191159,
        123.78655012,   27.2582245 , -183.0311106 ,  -38.69040511,
        -52.39414509, -123.46638369,    8.19900375,  -96.01135203,
        -44.96848561, -171.2440495 , -226.53541364,    0.63331554,
       -214.61209306,  184.56174488,  -14.22633632,   12.7915573 ,
         29.7133831 ,  240.24555858,  -33.44056051,  130.94315412,
         53.97167041,    6.81742568,  -92.82993963,  -15.18937598,
        224.42685751,  -19.91666935, -146.18579238,  -55.55589316,
       -100.51780321,    3.75280662,  -19.25928346,  -67.26068346,
        -22.2928639 , -181.31982468, -130.14539394,   41.92787281,
        -43.56831172, -165.05071334,   85.35350505,   -5.47714312,
        130.78534474,  -52.65541698,   -2.33837009,  172.64455599,
        168.7506861 ,   42.29234765,  -32.40855403,   56.04477853,
        108.66576013,  -42.00149781,  -75.45766733,  -88.14850962,
       -194.76240067,  123.0815729 ,   62.99478275,   53.2816845 ])

In [21]:
df=pd.DataFrame(data=y_test,columns=["target"])

df.insert(0, "Id",'1')
df['Id'] = np.arange(len(df))
df

df.to_csv('y_air_pre.csv',index=False)